/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

/* Custom Properties */
:root {
  --primary-background-color: #f9f7f7;
  --secondary-background-color: #e7e8e9;
  --dark-color: #131417;
  --dark-color-alt: #252830;
  --light-color: #fff;
  --light-color-alt: rgba(255, 255, 255, 0.9);
  --hover-light-color: #f3c455;
  --hover-dark-color: var(--light-color);
  --accent-color: #112d4e;
  --accent-color-alt: #2d5485;
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "Poppins", sans-serif;
  --gap: 3rem;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--dark-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

i {
  font-size: var(--font-size-md);
  cursor: pointer;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

#wellnoted-text {
  font-weight: bold;
  background-color: #f3c455;
  border-radius: 4px;
  padding: 0.2rem;
}

.dark-theme #wellnoted-text {
  color: var(--dark-color);
}

/* Theme Color Change */
body.dark-theme {
  --light-color: #f9f7f7;
  --light-color-alt: rgba(255, 255, 255, 0.9);
  --primary-background-color: #2e2c2c;
  --secondary-background-color: #2c2a2a;
  --transparent-light-color: #252830;
  --transparent-dark-color: rgba(0, 0, 0, 0.1);
}

#header.dark-theme {
  --accent-color: #181818;
}

.dark-theme .highlight {
  color: #181818;
}

.dark-theme .menu-bar-items {
  color: var(--light-color);
  border-bottom: 1px solid #525050;
}

.dark-theme .menu-bar-items:hover {
  color: var(--hover-light-color);
}

.dark-theme .hero-text {
  color: var(--light-color);
}

.dark-theme .feature-container {
  color: var(--light-color);
}

/* Reusable Classes */

.hidden {
  display: none;
}

.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* JavaScript Styles */

.header.activated {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Header */
.header {
  position: fixed;
  background-color: var(--accent-color);
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.nav-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.nav-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

#sign-up {
  background-color: #f3c455;
  color: var(--dark-color);
  padding: 0.7rem 0.8rem;
  border-radius: 4px;
  font-weight: bold;
}

#sign-up:hover {
  background-color: var(--light-color-alt);
}

.right-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.list-items,
.sun-icon,
.moon-icon {
  color: var(--light-color);
}

.list-items:hover {
  color: var(--hover-light-color);
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  border-bottom: 2px solid #f3c455;
}

.sun-icon:hover,
.moon-icon:hover {
  color: var(--hover-light-color);
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.logo {
  font-family: "Bagel Fat One", sans-serif;
  font-size: var(--font-size-lg);
  color: var(--light-color);
}

.highlight {
  background-color: var(--hover-light-color);
  color: var(--accent-color);
  border-radius: 4px;
}

.sun-icon {
  display: none;
}

.dark-theme .sun-icon {
  display: flex;
}

.dark-theme .moon-icon {
  display: none;
}

/* Hero Section */
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 10rem 10rem;
  min-height: 100vh;
}

.section-header-offset {
  margin-top: 7.5rem;
}

.hero-img,
.hero-img-dark,
.hero-section {
  place-self: center;
}

.hero-img-dark {
  display: none;
}

.dark-theme .hero-img {
  display: none;
}

.dark-theme .hero-img-dark {
  display: flex;
}

.hero-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.hero-text h1 {
  font-size: var(--font-size-xl);
  color: inherit;
  text-align: center;
  font-weight: bold;
}

.hero-text p {
  font-size: var(--font-size-md);
  color: inherit;
  margin-bottom: 5rem;
  text-align: center;
}

.hero-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notes-btn,
.to-do-btn {
  background-color: #f3c455;
  color: var(--dark-color);
  width: 15rem;
  height: 5rem;
  padding: 0.2rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.notes-btn:hover,
.to-do-btn:hover {
  background-color: var(--accent-color-alt);
  color: var(--light-color);
  transition: all 0.25s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Feature Section */
.feature-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10rem;
}

/* Features Container */
.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* Feature Text */
.feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.feature-text h2 {
  font-size: var(--font-size-lg);
  text-align: center;
}

.feature-text p {
  font-size: 2rem;
  text-align: center;
}

.notes-light,
.notes-dark {
  width: 12rem;
}

.todos-light,
.todos-dark {
  width: 13rem;
}

.dark-theme .notes-light {
  display: none;
}

.dark-theme .notes-dark {
  display: flex;
}

.notes-dark {
  display: none;
}

.dark-theme .todos-light {
  display: none;
}

.dark-theme .todos-dark {
  display: flex;
}

.todos-dark {
  display: none;
}

/* Note Feature Item Container */
.feature-item-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5rem;
  width: 55%;
}

/* Note Feature Items */
.feature-item {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dark-theme .feature-item {
  background-color: #252525;
}

.feature-item h3 {
  font-size: var(--font-size-md);
}

/* Item Container */
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}

.item-icon,
.item-icon-dark {
  place-self: center;
  width: 8rem;
}

.item-icon-dark {
  display: none;
}

.dark-theme .item-icon-dark {
  display: flex;
}

.dark-theme .item-icon {
  display: none;
}

/* Contact */

.contact-section {
  background-color: var(--secondary-background-color);
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.dark-theme .contact-section {
  background-color: #252525;
}

.contact-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4rem;
  padding: 10rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

.contact-text h3 {
  font-size: var(--font-size-md);
}

.dark-theme .contact-text {
  color: var(--light-color);
}

.contact-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.email-newsletter {
  background-color: var(--light-color);
  width: 25%;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.newsletter-btn {
  background-color: #f3c455;
  color: var(--dark-color);
  width: 15rem;
  height: 4.5rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.newsletter-btn:hover {
  background-color: var(--accent-color-alt);
  color: var(--light-color);
}

/* Footer */
footer {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.dark-theme footer {
  background-color: #181818;
}

footer p,
.heart-icon {
  color: var(--light-color);
  font-size: var(--font-size-xsm);
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.linkedin,
.instagram,
.github {
  color: var(--light-color);
  font-size: var(--font-size-lg);
}

.linkedin:hover,
.instagram:hover,
.github:hover {
  color: var(--hover-light-color);
}

/* Responsive Breakpoint */

/* large screen */

@media only screen and (max-width: 1380px) {
  .nav-start {
    width: 40%;
  }

  .hero-container {
    grid-template-columns: 1fr;
    row-gap: 10rem;
  }

  .hero-img,
  .hero-img-dark {
    width: 75%;
  }

  .feature-item-container {
    width: 70%;
  }

  .email-newsletter {
    width: 35%;
  }
}

@media only screen and (max-width: 1048px) {
  .nav-start {
    width: 35%;
  }

  .hero-text h1 {
    font-size: var(--font-size-lg);
  }

  .hero-img,
  .hero-img-dark {
    width: fit-content;
  }

  .feature-item-container {
    width: 100%;
  }

  .email-newsletter {
    width: 50%;
  }
}

/* medium screen 993px */

@media only screen and (max-width: 920px) {
  #hamburger-btn.active {
    display: none;
  }

  #hamburger-btn {
    display: flex;
  }

  #close-btn.active {
    display: flex;
  }

  .menu-show.active {
    display: block;
  }

  .nav-start {
    display: none;
  }

  .menu-bar-items {
    align-self: stretch;
    color: var(--dark-color);
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e6dede;
  }

  li.menu-bar-items:hover {
    color: var(--accent-color-alt);
  }

  .menu-show {
    position: fixed;
    width: 100%;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--gap);
    padding: 3rem 10rem;
    background-color: var(--primary-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .sign-in-btn,
  .sign-up-btn {
    display: none;
  }

  .hero-text h1 {
    font-size: var(--font-size-md);
  }

  .hero-text p {
    font-size: var(--font-size-sm);
  }

  .hero-img,
  .hero-img-dark {
    width: 55rem;
  }

  .notes-btn,
  .to-do-btn {
    font-size: var(--font-size-sm);
  }

  .hero-container {
    padding-top: 5rem;
  }

  .feature-text h2 {
    font-size: var(--font-size-md);
  }

  .feature-text p {
    font-size: var(--font-size-sm);
  }

  .nav-container,
  .hero-container,
  .feature-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .email-newsletter {
    width: 55%;
  }

  .logo {
    font-size: var(--font-size-md);
  }

  /* Animating the dropdown menu */
}

/* small screen */

@media only screen and (max-width: 768px) {
  .nav-end {
    display: none;
  }

  .sign-in-btn,
  .sign-up-btn {
    display: block;
  }

  .hero-text h1 {
    font-size: var(--font-size-md);
  }

  .hero-text p {
    font-size: var(--font-size-sm);
  }

  .hero-img,
  .hero-img-dark {
    width: 100%;
  }

  .logo {
    font-size: var(--font-size-md);
  }
}

@media only screen and (max-width: 432px) {
  .logo {
    font-size: var(--font-size-sm);
  }

  .list-items {
    font-size: var(--font-size-sm);
  }

  .menu-bar-items {
    font-size: var(--font-size-xsm);
  }

  .nav-container,
  .hero-container,
  .feature-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-container {
    row-gap: 5rem;
    min-height: max-content;
  }

  .hero-img,
  .hero-img-dark {
    width: 120%;
  }

  .hero-text h1,
  .feature-text h2,
  .feature-item h3,
  .contact-text h3 {
    font-size: var(--font-size-sm);
  }

  .hero-text p,
  .feature-text p,
  .feature-item p,
  .contact-text p {
    font-size: var(--font-size-xsm);
  }

  .notes-btn,
  .to-do-btn {
    font-size: var(--font-size-xsm);
    width: 10rem;
    height: 4rem;
  }

  .feature-text img {
    max-width: 7rem;
  }

  .feature-item {
    padding: 2rem;
    column-gap: 1.5rem;
  }

  .feature-item-container {
    gap: 3rem;
  }

  .item-container {
    align-items: flex-start;
  }

  .item-icon,
  .item-icon-dark {
    width: 5rem;
  }

  .feature-section {
    row-gap: 7rem;
  }

  .contact-section {
    margin-top: 7rem;
  }

  .contact-container {
    padding: 2rem;
  }

  .email-newsletter {
    font-size: var(--font-size-sm);
  }

  .contact-input-box input[placeholder="Email Address"] {
    font-size: var(--font-size-xsm);
  }

  .newsletter-btn {
    font-size: var(--font-size-xsm);
    height: 3.9rem;
    width: 9rem;
  }

  .linkedin,
  .instagram,
  .github {
    font-size: var(--font-size-md);
  }
}
